h6{
  font-size: 14px;
  font-weight: 200;
}
.position_banner{
  position: absolute;
  top: 480px;
  left: 650px;
  z-index: 1;
  color:white;
}
#botonabar{
  background-color: rgba(5, 1, 1, 0.096);
}


#botonabar:hover{
  background-color: green;
}
#container1{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#caja2{
  background-color: rgba(0, 0, 0, 0.780);
  width: 669px;
  padding-left: 11px;
}

.textoblanco1{
  color: white;
}

.textoblanco2{
  color:   white;
  font-size: 13px;
}

.textonegro1{
  color: black;
  font-size: 10px;
}

#conocemas{
  background-color: rgba(5, 1, 1, 0.096);
}
#conocemas:hover{
  background-color: rgba(5, 1, 1, 0.096);

}
.fondofooter{
  background-color: rgba(212, 25, 34, 0.096)
}

.abs-center {
  display: flex;
  justify-content: center;
  width: auto;
}
.caja{
  display: flex;
  padding-left: 12%;
}
#titulo_banner{
  /*text-align: right;*/
  text-align:start;
  padding-left: 70%;
  font-size: 30px;
  font-weight: 0;
}
#texto_banner{
  text-align:start;
  padding-left: 10%;
  font-size: 15px;
  font-weight: 80;

}
.position-relative {
  left: 350px;
  height: 400px;
  width: 78%;
  /*background-color: red;*/
  color:white;
}
/* pagina de compras */
#cajacompra{
  background-color: white;
  width: 220px;
  border: 2px solid blue;
  margin-left: 0.2%;
}
#cajacomprajunior{
  background-color: white;
  width: 220px;
  border: 2px solid orange;
  margin-left: 0.2%;
}

.containercajacompra{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;

}
.notacajacompras{
  color: black;
  font-size: 12px;
}
.TextoVenta{
  color: black;
  font-size: 12px;
}

.TextoValor{
  color: black;
  font-size: 34px;
}
.botones_BR{
  background-color: #96c93e;
}

.navbar-brand img { max-width: 100px; }

.bg-dark { background: #333a40!important; }

.navbar-dark .navbar-nav .btn-compra-tickets { color: #25a342; }

.btn-log-reg{ color: yellow!important; }

@media (min-width: 992px) {
  .btn-compra-tickets, .btn-log-reg {
    border: 1px solid transparent;
    border-radius: .8rem;
  }
  .btn-compra-tickets:hover,
  .navbar-dark .navbar-nav .btn-compra-tickets.active {
    background: #25a342;
  }
  .btn-log-reg:hover{
    background: yellow;
    color: black!important;
  }
}

.pt-section { padding-top: 7rem; }

/* ESTILOS TITULOS
-------------------------------------------------- */

.titulo-gral {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
}
.titulo-gral span {
  display: block;
  font-weight: 700;
  font-size: 2.2rem;
}
#usuario_logueado{
  display: block;
  font-weight: 70;
  font-size: 1.0rem;
  color: #25a342;
}

/* CAROUSEL
-------------------------------------------------- */

.bg-carousel-ba1 { background-image: url(../img/ba1.jpg); }
.bg-carousel-ba2 { background-image: url(../img/ba2.jpg); }
.bg-carousel-ba3 { background-image: url(../img/ba3.jpg); }

.carousel-item {
  background-size: cover;
  background-position: center center;
}
.carousel-item svg { opacity: .5; }

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 37rem;
  min-height: 95vh;
}

/* SECCION MITAD IMG, MITAD TEXTO
-------------------------------------------------- */

.bg-aside1 {
  background: #333a40;
  padding: 2rem;
}

/* FORMULARIO CONVIERTETE EN ORADOR
-------------------------------------------------- */

.btn-form {
  background: #96c93e;
  color: #fff !important;
}
.btn-form:hover { background: #74aa17; }

/* FORM COMPRAR TICKETS
-------------------------------------------------- */

#totalPago {
  font-size: 1.4rem;
  font-weight: 700;
}

/* FOOTER
-------------------------------------------------- */

#main-footer {
  background: #1d3c4e;
  color: #fff;
  padding: 1.5rem;
}

#main-footer .nav-link {
  color: #fff;
  text-align: center;
}
#main-footer .nav-link:hover { opacity: .7; }

@media (min-width: 992px) {
  #main-footer .nav-link span { display: block; }
}

h6{
  font-size: 14px;
  font-weight: 200;
}
.position_banner{
  position: absolute;
  top: 480px;
  left: 650px;
  z-index: 1;
  color:white;
}
#botonabar{
  background-color: rgba(5, 1, 1, 0.096);
}


#botonabar:hover{
  background-color: green;
}
#container1{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#caja2{
  background-color: rgba(0, 0, 0, 0.780);
  width: 669px;
  padding-left: 11px;
}

.textoblanco1{
  color: white;
}

.textoblanco2{
  color:   white;
  font-size: 13px;
}

.textonegro1{
  color: black;
  font-size: 10px;
}

#conocemas{
  background-color: rgba(5, 1, 1, 0.096);
}
#conocemas:hover{
  background-color: rgba(5, 1, 1, 0.096);

}
.fondofooter{
  background-color: rgba(212, 25, 34, 0.096)
}

.abs-center {
  display: flex;
  justify-content: center;
  width: auto;
}
.caja{
  display: flex;
  padding-left: 12%;
}
#titulo_banner{
  /*text-align: right;*/
  text-align:start;
  padding-left: 70%;
  font-size: 30px;
  font-weight: 0;
}
#texto_banner{
  text-align:start;
  padding-left: 10%;
  font-size: 15px;
  font-weight: 80;

}
.position-relative {
  left: 350px;
  height: 400px;
  width: 78%;
  /*background-color: red;*/
  color:white;
}
/* pagina de compras */
#cajacompra{
  background-color: white;
  width: 220px;
  border: 2px solid blue;
  margin-left: 0.2%;
}
#cajacomprajunior{
  background-color: white;
  width: 220px;
  border: 2px solid orange;
  margin-left: 0.2%;
}

.containercajacompra{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;

}
.notacajacompras{
  color: black;
  font-size: 12px;
}
.TextoVenta{
  color: black;
  font-size: 12px;
}

.TextoValor{
  color: black;
  font-size: 34px;
}
.botones_BR{
  background-color: #96c93e;
}

